.container {
    padding: 4%;
}

.column {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    margin: 0 1%;
}

.label {
    display: block;
    vertical-align: text-top;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .4em;
}

.composition {
    vertical-align: text-top;
}
#new-term {
    vertical-align: text-top;
}

#new-term, #original-term {
    width: 100%;
}

.save {
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;
    padding: .2em;
}

.table-container {
    margin: 0 auto;
}